@import "tailwindcss";

@theme {
  --color-primary: #fea928;
  --color-secondary: #ed8900;

  --container-center: true;
  --container-padding: 1rem;
  --container-padding-sm: 3rem;
}

@custom-variant dark (&:where(.dark, .dark *));
